/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}



tei-supplied {
  font-style: italic;
}

tei-orgName {color: blue}

tei-supplied {
  font-style: bold;
}
tei-persName {color: red;}
tei-placeName {color: green;}
